<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

        <head th:fragment="head">
                <link  rel="stylesheet" media="screen" type="text/css" th:href="@{/css/style.css}"/>
        </head>
        
        <body th:fragment="header">     
                <div class="headerfooter" style="text-align: left;">
                        <div style="float: right;">
                                <form name="menu" th:action="@{/}">
                                        <input class="submit" type="submit" value="Back"/>
                                </form>
                        </div>
                </div>
        </body>

</html>